
nav{
    background-color: black;
}
#carouselExampleControls{
    
    width: 1300px;
    padding-left: 24%;
   
    /* height: 400px; */
}
form{
    padding-left: 555px;
}
#dp{
    border-radius: 50%;
}
li{
    color: aliceblue;
}
